<div class="row">
  <div class="col-md-6">
    <h3>Weekly from 11 - 14:00 Copenhagen time</h3>
    <table class="table table-striped">
        <tr><td>Before starting</td><td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td></tr>
        <tr><td>Thu 29 Oct</td> <td> <a href="https://librarycarpentry.org/lc-data-intro/">Introduction to Regular Expressions</a> </td></tr>
	<tr><td> </td><td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td><td></td></tr>
        <tr><td>Thu 05 Nov</td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
	<tr><td>Thu 12 Nov</td><td><a href="http://swcarpentry.github.io/shell-novice/">File Management and Navigation in Shell</a></td></tr>
	<tr><td>Thu 19 Nov</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
	<tr><td>Thu 26 Nov</td><td><a href="https://datacarpentry.org/r-socialsci/">Crunching and Visualising Data in R</a></td></tr>
	<tr><td>Thu 03 Dec</td><td><a href="www.github.com/adivea/Leaflet">Interactive Maps in R</a></td></tr>
	<tr><td>END</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      </table>
  </div>
 </div>

