<h3>Software Installation</h3>

<p>
Please install the software relevant for each week by
following the setup link provided in the table below.
</p>

<div class="row">
  <div class="col-md-6">
    <table class="table-striped">
      <tr> <td><b>Week 1</b></td>  <td> None needed, we work with online tools, such as www.regex101.com</td> </tr>
      <tr> <td><b>Week 2</b></td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/setup.html">Installing OpenRefine</a></td> </tr>
      <tr> <td><b>Week 3</b></td>  <td><a href="http://swcarpentry.github.io/shell-novice/setup.html">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td><b>Week 4</b></td>  <td><a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html">Installing R and RStudio</a> </td> </tr>
      <tr> <td><b>Week 5</b></td>  <td><a href="https://datacarpentry.org/socialsci-workshop/setup-r-workshop.html">Installing R and RStudio</a></td> </tr>
      <tr> <td><b>Week 6</b></td>  <td> None needed, we will work with code in github repositories </td> </tr>
    </table>
  </div>
</div>
